NODE_ENV = 
DB_HOST = 
DB_USER = 
DB_PASSWORD = 
DB_NAME = 
DB_PORT = 
SERVER_PORT = 
# SERVER_END_DOMAIN =
# FRONT_END_DOMAIN = 
# BASEPATH = ''
# IMAGE_URL_PATH = ''
# AVATAR_UPLOAD_URL = ''
# BULK_UPLOAD_URL = ''
# GOOGLE_CLIENT_ID =""
# GOOGLE_CLIENT_SECRET =""
# FACEBOOK_APP_CALLBACK =""
# FACEBOOK_APP_SECRET =
# FACEBOOK_APP_ID =
# KIDS_REPORT_UPLOAD_URL = ''
# STRIPE_SIGN_IN_SECRET = ""
SECRET_KEY=""
STUDENT_SECRET_KEY="" 